.clouds--root {
    position: absolute;
    left: 0px;
    top: 80px;

    .container {
        position: relative;
        width: 100px;
        z-index: 1000;
        //background: linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);
        //transform: scale(.9);
        //width: 1200px;
        //height: 210px;
        //left: 50%;
        //top: 50%;
        //margin: -65px -600px;
    }

    .degrees-celsius-wrapper {
        position: relative;
        top: -120px;
        right: -175px; // -120px for sunny; -175px for partly cloudy;

        & .degrees-celsius {
            position: relative;
            color: var(--connected);
            font: normal 50px var(--mainFont);

            & .c {
                position: absolute;
                top: 9px;
                font: normal 15px var(--mainFont);
            }
        }

        & .weather-desc {
            position: relative;
            top: -18px;

            & .weather-status {
                font: bold 15px var(--mainFont);
                margin: 0;
                color: rgba(28, 244, 153, 0.9);
            }

            & .infos {
                position: relative;
                top: 5px;
                line-height: 10px;
            }

            & .infos .weather-today {
                position: relative;
                top: 1px;
                font: bold 10px var(--mainFont);
                display: block;
                margin: 0;
                color: var(--txtColorDark);
            }

            & .infos .weather-place {
                font: bold 12px var(--mainFont);
                margin: 0;
                color: var(--txtColorDark);
            }
        }


    }

    /* RAINY */
    .rainy {
        animation: rainy 5s ease-in-out infinite 1s;
        background: #CCCCCC;
        border-radius: 50%;
        box-shadow:
            #CCCCCC 65px -15px 0 -5px,
            #CCCCCC 25px -25px,
            #CCCCCC 30px 10px,
            #CCCCCC 60px 15px 0 -10px,
            #CCCCCC 85px 5px 0 -5px;
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
    }
    .rainy:after {
        animation: rainy_shadow 5s ease-in-out infinite 1s;
        background: #00BBFF;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 5px;
        bottom: -60px;
        transform: scale(1);
    }
    .rainy:before {
        animation: rainy_rain .7s infinite linear;
        content: '';
        background: tranparent;
        border-radius: 50%;
        display: block;
        height: 8px;
        width: 4px;
        opacity: 0.6;
        transform: scale(.9);
    }
    @keyframes rainy {
        50% { transform: translateY(-20px); }
    }
    @keyframes rainy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
    }
    @keyframes rainy_rain {
        0% {
            box-shadow:
                rgba(0,0,0,0) 30px 30px,
                rgba(0,0,0,0) 40px 40px,
                #5fbbcc 50px 75px,
                #5fbbcc 55px 50px,
                #5fbbcc 70px 100px,
                #5fbbcc 80px 95px,
                #5fbbcc 110px 45px,
                #5fbbcc 90px 35px;
        }
        25% {
            box-shadow:
                #5fbbcc 30px 45px,
                #5fbbcc 40px 60px,
                #5fbbcc 50px 90px,
                #5fbbcc 55px 65px,
                rgba(0,0,0,0) 70px 120px,
                rgba(0,0,0,0) 80px 120px,
                #5fbbcc 110px 70px,
                #5fbbcc 90px 60px;
        }
        26% {
            box-shadow:
                #5fbbcc 30px 45px,
                #5fbbcc 40px 60px,
                #5fbbcc 50px 90px,
                #5fbbcc 55px 65px,
                rgba(0,0,0,0) 70px 40px,
                rgba(0,0,0,0) 80px 20px,
                #5fbbcc 110px 70px,
                #5fbbcc 90px 60px;
        }
        50% {
            box-shadow:
                #5fbbcc 30px 70px,
                #5fbbcc 40px 80px,
                rgba(0,0,0,0) 50px 100px,
                #5fbbcc 55px 80px,
                #5fbbcc 70px 60px,
                #5fbbcc 80px 45px,
                #5fbbcc 110px 95px,
                #5fbbcc 90px 85px;
        }
        51% {
            box-shadow:
                #5fbbcc 30px 70px,
                #5fbbcc 40px 80px,
                rgba(0,0,0,0) 50px 45px,
                #5fbbcc 55px 80px,
                #5fbbcc 70px 60px,
                #5fbbcc 80px 45px,
                #5fbbcc 110px 95px,
                #5fbbcc 90px 85px;
        }
        75% {
            box-shadow:
                #5fbbcc 30px 95px,
                #5fbbcc 40px 100px,
                #5fbbcc 50px 60px,
                rgba(0,0,0,0) 55px 95px,
                #5fbbcc 70px 80px,
                #5fbbcc 80px 70px,
                rgba(0,0,0,0) 110px 120px,
                rgba(0,0,0,0) 90px 110px;
        }
        76% {
            box-shadow:
                #5fbbcc 30px 95px,
                #5fbbcc 40px 100px,
                #5fbbcc 50px 60px,
                rgba(0,0,0,0) 55px 35px,
                #5fbbcc 70px 80px,
                #5fbbcc 80px 70px,
                rgba(0,0,0,0) 110px 25px,
                rgba(0,0,0,0) 90px 15px;
        }
        100% {
            box-shadow:
                rgba(0,0,0,0) 30px 120px,
                rgba(0,0,0,0) 40px 120px,
                #5fbbcc 50px 75px,
                #5fbbcc 55px 50px,
                #5fbbcc 70px 100px,
                #5fbbcc 80px 95px,
                #5fbbcc 110px 45px,
                #5fbbcc 90px 35px;
        }
    }

    /* SUNNY */
    .sunny {
      position: relative;
      left: 60px; // mostlySunny: 60px, others: 30px;
      width: 2.5em;
      height: 2.5em;
      margin: 0em;
      background: #e1d509;
      border-radius: 50%;
      box-shadow: 0 0 0 0.375em #e1d509;
      animation: sunny 15s linear infinite;
      //animation: spin 12s infinite linear;

      &.big {
        transform: scale(1.3);
      }

      .rays {
        position: absolute;
        top: -2em;
        left: 50%;
        display: block;
        width: 0.375em;
        height: 1.125em;
        margin-left: -0.1875em;
        background: #FFEE44;
        border-radius: 0.25em;
        box-shadow: 0 5.375em #FFEE44;
      }
      .rays:before,
      .rays:after {
        content: '';
        position: absolute;
        top: 0em;
        left: 0em;
        display: block;
        width: 0.375em;
        height: 1.125em;
        transform: rotate(600deg);
        transform-origin: 50% 3.25em;
        background: #FFEE44;
        border-radius: 0.25em;
        box-shadow: 0 5.375em #FFEE44;
      }
      .rays:before {
        height: 1.125em;
        transform: rotate(120deg);
      }

      .reflex {
         border-radius: 50%;
        box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
        content: '';
        height: 1.7em;
        width: 1.7em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    /* Animations */
    @keyframes sunny {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    // @keyframes spin {
    //   100% { transform: rotate(360deg); }
    // }

    /* CLOUDY */
    .cloudy {
        left: 60px; // mostlySunny: 60px, others: 30px;
        animation: cloudy 5s ease-in-out infinite;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow:
            #FFFFFF 65px -15px 0 -5px,
            #FFFFFF 25px -25px,
            #FFFFFF 30px 10px,
            #FFFFFF 60px 15px 0 -10px,
            #FFFFFF 85px 5px 0 -5px;
        height: 50px;
        width: 50px;
        position: relative;

        &.small {
            top: -15px;
            transform: scale(0.5);
            animation: none;
        }

        & .cloudy:after {
            content: '';
            // animation: cloudy_shadow 5s ease-in-out infinite;
            background: #000000;
            border-radius: 50%;
            height: 15px;
            width: 120px;
            opacity: 0.2;
            position: absolute;
            left: 5px;
            bottom: -60px;
            // transform: scale(1);
        }

        &.small .cloudy:after {
            transform: scale(0.3);
        }
    }

    @keyframes cloudy {
        50% { transform: translateY(-20px); }
    }
    @keyframes cloudy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity:.05; }
    }

    /* STORMY */
    .stormy {
        animation: stormy 5s ease-in-out infinite;
        background: #222222;
        border-radius: 50%;
        box-shadow:
            #222222 65px -15px 0 -5px,
            #222222 25px -25px,
            #222222 30px 10px,
            #222222 60px 15px 0 -10px,
            #222222 85px 5px 0 -5px;
        height: 50px;
        width: 50px;
        position: relative;
    }
    .stormy:after {
        animation: stormy_shadow 5s ease-in-out infinite;
        background: #000;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 5px;
        bottom: -60px;
        transform: scale(1);
    }
    .stormy:before {
        animation: stormy_thunder 2s steps(1, end) infinite;
        border-left: 0px solid transparent;
        border-right: 7px solid transparent;
        border-top: 43px solid yellow;
        box-shadow: yellow -7px -32px;
        content: '';
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        left: 57px;
        top: 70px;
        transform: rotate(14deg);
        transform-origin: 50% -60px;
    }
    @keyframes stormy {
        50% { transform: translateY(-20px); }
    }
    @keyframes stormy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
    }
    @keyframes stormy_thunder {
        0%  { transform: rotate(20deg); opacity:1; }
        5%  { transform: rotate(-34deg); opacity:1; }
        10% { transform: rotate(0deg); opacity:1; }
        15% { transform: rotate(-34deg); opacity:0; }
    }

}

/* ARCHIVES

.mostlySunny {
    position: relative;
    left: 40px;
    background: #FFEE44;
    border-radius: 50%;
    box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
    height: 80px;
    width: 80px;

    &.big {

    }

    &:before {
        content: '';
        position: absolute;
        left: 20px;
        top: 30px;

        background: #FFFFFF;
        border-radius: 50%;
        box-shadow:
            #FFFFFF 65px -15px 0 -5px,
            #FFFFFF 25px -25px,
            #FFFFFF 30px 10px,
            #FFFFFF 60px 15px 0 -10px,
            #FFFFFF 85px 5px 0 -5px;
        height: 50px;
        width: 50px;
        transform: scale(.6);
    }
}

.snowy {
        animation: snowy 5s ease-in-out infinite 1s;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow:
            #FFFFFF 65px -15px 0 -5px,
            #FFFFFF 25px -25px,
            #FFFFFF 30px 10px,
            #FFFFFF 60px 15px 0 -10px,
            #FFFFFF 85px 5px 0 -5px;
        display: block;
        height: 50px;
        width: 50px;
        margin-left: -60px;
        position: absolute;
        left: 1112px;
        top: 70px;
    }
    .snowy:after {
        animation: snowy_shadow 5s ease-in-out infinite 1s;
        background: #000000;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 8px;
        bottom: -60px;
        transform: scale(1);
    }
    .snowy:before {
        animation: snowy_snow 2s infinite linear;
        content: '';
        border-radius: 50%;
        display: block;
        height: 7px;
        width: 7px;
        opacity: 0.8;
        transform: scale(.9);
    }
    @keyframes snowy {
        50% { transform: translateY(-20px); }
    }
    @keyframes snowy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
    }
    @keyframes snowy_snow {
        0% {
            box-shadow:
                rgba(238,238,238,0) 30px 30px,
                rgba(238,238,238,0) 40px 40px,
                #EEEEEE 50px 75px,
                #EEEEEE 55px 50px,
                #EEEEEE 70px 100px,
                #EEEEEE 80px 95px,
                #EEEEEE 110px 45px,
                #EEEEEE 90px 35px;
        }
        25% {
            box-shadow:
                #EEEEEE 30px 45px,
                #EEEEEE 40px 60px,
                #EEEEEE 50px 90px,
                #EEEEEE 55px 65px,
                rgba(238,238,238,0) 70px 120px,
                rgba(238,238,238,0) 80px 120px,
                #EEEEEE 110px 70px,
                #EEEEEE 90px 60px;
        }
        26% {
            box-shadow:
                #EEEEEE 30px 45px,
                #EEEEEE 40px 60px,
                #EEEEEE 50px 90px,
                #EEEEEE 55px 65px,
                rgba(238,238,238,0) 70px 40px,
                rgba(238,238,238,0) 80px 20px,
                #EEEEEE 110px 70px,
                #EEEEEE 90px 60px;
        }
        50% {
            box-shadow:
                #EEEEEE 30px 70px,
                #EEEEEE 40px 80px,
                rgba(238,238,238,0) 50px 100px,
                #EEEEEE 55px 80px,
                #EEEEEE 70px 60px,
                #EEEEEE 80px 45px,
                #EEEEEE 110px 95px,
                #EEEEEE 90px 85px;
        }
        51% {
            box-shadow:
                #EEEEEE 30px 70px,
                #EEEEEE 40px 80px,
                rgba(238,238,238,0) 50px 45px,
                #EEEEEE 55px 80px,
                #EEEEEE 70px 60px,
                #EEEEEE 80px 45px,
                #EEEEEE 110px 95px,
                #EEEEEE 90px 85px;
        }
        75% {
            box-shadow:
                #EEEEEE 30px 95px,
                #EEEEEE 40px 100px,
                #EEEEEE 50px 60px,
                rgba(238,238,238,0) 55px 95px,
                #EEEEEE 70px 80px,
                #EEEEEE 80px 70px,
                rgba(238,238,238,0) 110px 120px,
                rgba(238,238,238,0) 90px 110px;
        }
        76% {
            box-shadow:
                #EEEEEE 30px 95px,
                #EEEEEE 40px 100px,
                #EEEEEE 50px 60px,
                rgba(238,238,238,0) 55px 35px,
                #EEEEEE 70px 80px,
                #EEEEEE 80px 70px,
                rgba(238,238,238,0) 110px 25px,
                rgba(238,238,238,0) 90px 15px;
        }
        100% {
            box-shadow:
                rgba(238,238,238,0) 30px 120px,
                rgba(238,238,238,0) 40px 120px,
                #EEEEEE 50px 75px,
                #EEEEEE 55px 50px,
                #EEEEEE 70px 100px,
                #EEEEEE 80px 95px,
                #EEEEEE 110px 45px,
                #EEEEEE 90px 35px;
        }
    }

 */